@font-face {
  font-family: 'Frontage';
  src: url('/fonts/frontage-regular.woff');
}
@font-face {
  font-family: 'Frontage';
  font-weight: bold;
  src: url('/fonts/frontage-bold.woff');
}

html, body {
    margin: 0px;
    width: 100%;
}

body {
    color: #fff;
    text-shadow:0px -1px 0px #4A3721;
    background-color: transparent;
}

html {
  background: url('/img/bg/groovepaper.png') repeat;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-width:400px;
    background-color:#111;
    padding-left:50px;
    padding-right:50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

nav h1 {
    margin:6px 0 6px 0;
    font-family: 'Raleway';
    font-size:36px;
    letter-spacing: -0.03em;
    font-weight: 200;
    display:inline-block;
    text-transform:uppercase;
}
nav h1 strong {
    font-weight:300;
    color:#FF6B6B;
}

nav ul {
    float:right;
    height:42px;
}

#fringe {
    height:5px;
    position: fixed;
    background:url('/img/fringe.gif') repeat-x;
    top: 48px;
    left: 0;
    right: 0;
}

nav ul li {
    font-family:'Raleway';
    font-weight:200;
    font-size:18px;
    padding: 15px 20px 0 0;
    display: inline-block;
    height:100%;
}

nav ul li a {
    color:#fff;
    text-decoration:none;
}

.item {
    margin-top:150px;
    width:40%;
    min-width:400px;
    margin-left:auto;
    margin-right:auto;
}

.item img {
    width:100%;
}

.description {
    font-family:'Roboto Slab', 'Serif';
    text-align:justify;
    color:#111;
    text-shadow:none;
    font-size:36px;
    font-weight:300;
    width:60%;
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
}

.description h2 {
    font-weight:bold;
    margin-bottom:20px;
}

#speak {
    margin-top:150px;
    width:40%;
    min-width:400px;
    margin-left:auto;
    margin-right:auto;
    background-color:
}
