@font-face {
  font-family: 'Frontage';
  src: url('/fonts/frontage-regular.woff');
}
@font-face {
  font-family: 'Frontage';
  font-weight: bold;
  src: url('/fonts/frontage-bold.woff');
}

html, body {
    margin: 0px;
    width: 100%;
}

body {
    color: #fff;
    text-shadow:0px -1px 0px #4A3721;
    background-color: transparent;
}

html {
  background: url('/img/bg/wood.jpg') repeat;
  }

#content {
    position: absolute;
    top: 60px;
    left: 60px;
    width:300px;
}
#logo {
    border-radius: 15px;
    text-align:center;
    cursor: default;
    text-transform: uppercase;
    font-family: 'Frontage';
    border: 3px solid;
    padding:15px;
    margin-bottom:15px;
}

#logo .recursive {
    font-weight:bold;
    font-size: 32px;
}

#logo .iteration {
    font-size: 24px;
}

#content .words {
    padding-left:15px;
    padding-right:15px;
    font-family: 'Georgia', 'Serif';
}

#colors {
    width:100%;
}
.color {
    display: inline-block;
    margin: 0px;
    margin-left:-4px;
    padding:0px;
    height: 20px;
    width: 20%;
}

#nav {
    width:680px;
    padding:0px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

#nav li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 3px;
    width:140px;
    font-size:18px;
    margin-left: 8px;
    font-family: 'Arial';
    font-weight:bold;
    text-transform: uppercase;
    text-align: center;
}
