@font-face {
  font-family: 'Frontage';
  src: url('/fonts/frontage-regular.woff');
}
@font-face {
  font-family: 'Frontage';
  font-weight: bold;
  src: url('/fonts/frontage-bold.woff');
}

html, body {
    margin: 0px;
    width: 100%;
}

body {
    color: #fff;
    text-shadow:0px -1px 0px #4A3721;
    background-color: transparent;
}

html {
  background: url('/img/bg/paper.png') repeat;
  }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:#111;
    padding-left:50px;
    padding-right:50px;
}

nav h1 {
    margin:6px 0 6px 0;
    font-family: 'Raleway';
    font-size:36px;
    letter-spacing: -0.03em;
    font-weight: 200;
    display:inline-block;
    text-transform:uppercase;
}
nav h1 strong {
    font-weight:300;
    color:#FF6B6B;
}

nav ul {
    float:right;
    height:42px;
}

nav ul li {
    font-family:'Raleway';
    font-weight:300;
    font-size:24px;
    padding: 10px 20px 0 0;
    display: inline-block;
    height:100%;
}

nav ul li a {
    color:#fff;
    text-decoration:none;
}
